* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

section {
  padding: 20px; 
}

section button {
  padding: 20px; 
  background: black; 
  color: white; 
  margin-right: 10px; 
}

.movieOverview {
  margin-top: 20px; 
  display: grid; 
  grid-template-columns: repeat(5,1fr);
  gap: 20px; 
}

.movie {
  background-color: black; 
  color: white;
  padding: 20px; 
}


